<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software para parqueadero</title>
    <link rel="stylesheet" href="../Public/Css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e6a247fa57.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Public/Css/style5.css">
</head>

<body class="text-bg-secondary p-3" >
    
    <nav class="navbar  fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand " href="#"></a>
          <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title bg-linght text-light" id="offcanvasNavbarLabel"><b>USUARIO</b></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active bg-linght text-light" aria-current="page" href="pg1.html"><b>Cerrar Sesión</b></a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link text-light" href="#" onclick="eliminar()"><b>Eliminar Cuenta</b></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>Actualizar Datos</b>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="pg14.php">Nombre de Usuario</a></li>
                    <li><a class="dropdown-item" href="#">Contraseña</a></li>
                    <li><a class="dropdown-item" href="#">Nombre y Apellidos</a></li>
                    <li><a class="dropdown-item" href="#">Identificación</a></li>
                    <li><a class="dropdown-item" href="#">Número de Teléfono</a></li>
                    <li><a class="dropdown-item" href="#">Correo</a></li>
                    <li><a class="dropdown-item" href="#">Fecha de Nacimiento</a></li>
                   
                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>



    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="row">
      <div class="col-md-4"><img src="../Public/Img/logopr.png" id="logo"></div>


        <div class="col-md-4">
            <h1>¿En que centro desea ubicar el vehiculo? </h1>
            <div id="centros" class="container text-center">
                <div class="form">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <a href="pg11.html"><button class="btn btn-danger col-md-4">CTGI</button></a>
                    </div><br>


                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <a href="pg12.html"><button  class="btn btn-danger col-md-4">CDHC</button></a>
                    </div><br>


                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <a href="pg13.html"><button class="btn btn-danger col-md-4">CTDMA</button></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="JS/sweetalert.min.js"></script>

<script>
    function eliminar()
    {
        swal({
  title: "¿Estás seguro?",
  text: "Una vez eliminado no se podrá recuperar la cuenta",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("La cuenta se eliminó con éxito", {
      icon: "success",
    });
 
    location.href="#"
  } else {
    swal("La cuenta no fue eliminada");
  }
});
    }
</script>
</body>

</html>