<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Public/Css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e6a247fa57.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../Public/Css/style8.css">
</head>
<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="row">  
        <div class="col-md-4">
            <img src="../Public/Img/logopr.png" id="logo">
        </div>
    </div>

    <h1>Base de Datos</h1>

        <div class="row card text-bg-dark bg-gradient mb-3 rounded-4 border border-danger border border-5"  id="bd">
                <h3>Nombre:</h3>
                <h3>Identificación:</h3>
                <h3>Matrícula:</h3>
                <h3>Fecha y Hora de Entrada:</h3>
                <h3>Fecha y Hora de Salida:</h3>
        </div>

        


        <div class="buttons">
            <a href="pg1.html"><button class="btn btn-danger link-white " >Confirmar</button></a>
            <br><br>
            <a href="pg1.html"><button class="btn btn-danger link-white ">Volver</button></a>
        </div>

    
</body>
</html>